<a href="https://colab.research.google.com/github/NetralLaia/BelajarGit/blob/Tugas1Python/Latihan_Python_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


***1. Buatlah sebuah program sederhana
yang mencetak "Hello, World!" ke
layar***

In [1]:
print("Hallo world!")

Hallo world!

***2. Tentukan tipe data dari variabel
berikut:***

In [7]:
#(2.a)
x = 5
print(type(x))

<class 'int'>

In [5]:
#(2.b)
y = 3.14
print(type(y))

<class 'float'>

In [6]:
#(2.c)
z = "Hello"
print(type(z))

<class 'str'>

In [10]:
#(2.d)
boolean_var = True
print(type(boolean_var))

<class 'bool'>

In [11]:
#(2.e)
list_var = [1, 2, 3, 4, 5]
print(type(list_var))

<class 'list'>

In [12]:
#(2.f)
tuple_var = (10, 20, 30)
print(type(tuple_var))

<class 'tuple'>

In [13]:
#(2.g)
dictionary_var = {'nama': 'Agus', 'umur': 30}
print(type(dictionary_var))

<class 'dict'>

***Cara kedua yang lebih simpel***

In [15]:
x = 5
y = 3.14
z = "Hello"
boolean_var = True
list_var = [1, 2, 3, 4, 5]
tuple_var = (10, 20, 30)
dictionary_var = {'nama': 'Agus', 'umur': 30}
print(type(x))
print(type(y))
print(type(z))
print(type(boolean_var))
print(type(list_var))
print(type(tuple_var))
print(type(dictionary_var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

***Cara*** ***ketiga***

In [34]:
x = 5
print(type(x))

y = 3.14
print(type(y))

z = "Hello"
print(type(z))

boolean_var = True
print(type(boolean_var))

list_var = [1, 2, 3, 4, 5]
print(type(list_var))

tuple_var = (10, 20, 30)
print(type(tuple_var))

dictionary_var = {'nama': 'Agus', 'umur': 30}
print(type(dictionary_var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [38]:
x = 5
print(type(x))
y = 3.14
print(type(y))
z = "Hello"
print(type(z))
boolean_var = True
print(type(boolean_var))
list_var = [1, 2, 3, 4, 5]
print(type(list_var))
tuple_var = (10, 20, 30)
print(type(tuple_var))
dictionary_var = {'nama': 'Agus', 'umur': 30}
print(type(dictionary_var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

***3. tuliskan code untuk print variable x***

In [16]:
print(x)

5

***4.  tuliskan code untuk print variable y***

In [17]:
print(y)

3.14

***5. tuliskan code untuk print variable z***

In [18]:
print(z)

Hello

***6. tuliskan kode untuk mengambil dan print angka 3
dari variable list_var***

In [22]:
print(list_var)

[1, 2, 3, 4, 5]

***7. tuliskan kode untuk mengambil dan print angka 30
dari variable tuple_var***

In [20]:
print(tuple_var)

(10, 20, 30)

***8. tuliskan kode untuk mengambil dan print angka 30
dari variable dictionary_var***

In [21]:
print(dictionary_var)

{'nama': 'Agus', 'umur': 30}

***9. Buatlah sebuah program sederhana untuk
menghitung umur dengan rumus
umur = tahun sekarang - tahun lahir***

In [32]:
Tahun_sekarang = 2024
Tahun_lahir = 2004
Umur = Tahun_sekarang - Tahun_lahir
print(Umur)

20

In [33]:
#atau

umur = 2024-2004
print(umur)

20