<a href="https://colab.research.google.com/github/NetralLaia/BelajarGit/blob/main/Praktek_20_Maret_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
dictionary = {'Name' : 'Netral',
              'Hobbies' : ['singing', 'sleeping']}

print (dictionary ["Name"])

Netral

***If Statment:***


*   Single Condition (if)

In [179]:
a = 3 #single condition (if)
if a == 3:
    print ("a is three")

a is three

In [45]:
a = 5
b = 7
if a <= b:
  print("a is smaller than b")

a is smaller than b



*   Two Condition (if -> Else)

In [180]:
a = 5     #Two Condition (if -> Else)
b = 5
if a !=b:
  print ("a and b is not the same")
else:
  print ("a and b is the same")

a and b is the same



*   Multiple Condition (If -> Elif -> Else)

In [44]:
a = 3
b = 5
if a > b:
  print ("a is bigger than b")
elif a < b:
  print("a is smaller than b")
else:
  print("a and b is the same")

a is smaller than b

In [47]:
a = 3
b = 7
c = 20
if a < b and b < c:
  print("a is smaller than b")

a is smaller than b

In [48]:
a = 3
b = 7
c = 20
if c > b or c < a:
 print("At least one of the expression is True")

At least one of the expression is True

***“If” Statement Shorthand***


*   if

In [50]:
a = 3
if a == 3:
    print("a is three")
if a == 3: print("a is three")

a is three
a is three



*   If Else

In [52]:
a = 5
b = 5
if a == b:
  print("same")
else:
  print("different")
  print("same") if a==b else print (different)

same

***Nested If***

In [131]:
x = 50

if x > 20:
  print("Above twenty, ")
  if x > 40:
   print("and alsoabove 40")
  else:
   print("but not above 40")
else:
  print("Below twenty")

Above twenty,
and alsoabove 40

***Condition Python***


*   If Condition

In [136]:
x = 10
y =20
if x > y:
      print("x is greater than y")
if y > x:
      print("y is greater x")
print("x value:", x)
print("y value:", y)

y is greater x
x value: 10
y value: 20



*   If Else Condition

In [137]:
x = 10
y = 20
if x > y or x == y:
    print("x is greater than or equal y")
else:
    print("y is greater than x")

y is greater than x



*   If elif else Condition

In [138]:
x = 30
y = 50
if x > y:
    print("x is greater than y")
elif y > x:
    print("y is greater than x")
else:
    print("x and y are equal")

y is greater than x

***LOOP Python***


*   while Loop

In [139]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5



*   For Loop

In [140]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [141]:
for x in range(1,6):
  print(x)

1
2
3
4
5

In [191]:
for x in "banana":
  print(x)
for x in range(1,6):
    print(x)

b
a
n
a
n
a
1
2
3
4
5



*   Nested Loop

In [186]:
for x in "banana": #part1

  for y in range(6):
      print(x, end =" ")

print("")

print("and of code")

b b b b b b a a a a a a n n n n n n a a a a a a n n n n n n a a a a a a
and of code

In [187]:
for x in "banana": #part 2

  for y in range(6):
      print(x, end =" ")

  print("")

print("and of code")

b b b b b b
a a a a a a
n n n n n n
a a a a a a
n n n n n n
a a a a a a
and of code



*   Break
*   Continue
*   Pass

In [160]:
for x in range(1,6):
  if(x==3):
   break
  else:
    print(x)

1
2

In [161]:
for x in range(1,6):
  if(x==3):
    continue
  else:
    print(x)

1
2
4
5

In [192]:
for x in range(1,6):
        pass