<a href="https://colab.research.google.com/github/NetralLaia/BelajarGit/blob/main/Praktek_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ('hallo Naomi')

hallo Naomi

In [5]:
print(13 + 2) #Hasil Langsung dari Penjumlahan
apel = 7
jeruk = 9
buah = apel + jeruk
print(buah) #Hasil dari variabel

15
16

In [6]:
x=10
print(type(x))
x="CSIBER"
print(type(x))

<class 'int'>
<class 'str'>

In [7]:
print(bool(0))
print(bool(1))

False
True

In [9]:
x=10
print(type(x))

y="Hallo, dunia!"
print(type(y))

z=True
print(type(z))

<class 'int'>
<class 'str'>
<class 'bool'>

In [10]:
i=10
print(isinstance(i,int))
print(isinstance(i,str))

True
False

In [11]:
x=10
y=10.20
z=x+y
print(z)
print(type(z))

20.2
<class 'float'>

In [12]:
a=b=c=1
print(a)
print(b)
print(c)

1
1
1

In [13]:
print(r"this is frist line\nthis is second line")

this is frist line\nthis is second line

In [14]:
print("this is frist line\nthis is second line")

this is frist line
this is second line

In [18]:
print(r"Rollno\tName\tDivision")

Rollno\tName\tDivision

In [19]:
print("Rollno\tName\tDivision")

Rollno	Name	Division

In [21]:
l=[10, 20.30, "python", 'c',23]
l1=['Msc','CSIBER']
print(l[0])
print(l[1:3])
print(l[:2])
print(l[2:])
print(l*2)
print(l+l1)

10
[20.3, 'python']
[10, 20.3]
['python', 'c', 23]
[10, 20.3, 'python', 'c', 23, 10, 20.3, 'python', 'c', 23]
[10, 20.3, 'python', 'c', 23, 'Msc', 'CSIBER']

In [22]:
str="Hello World"
print(str[0])
print(str[2:5])
print(str[:4])
print(str[4:])
print(str*4)
print(str+" and Planet")

H
llo
Hell
o World
Hello WorldHello WorldHello WorldHello World
Hello World and Planet

In [24]:
l=[10, 20.30, "python", 'c', 23]
print(l)
l[2]="Java"
print(l)

[10, 20.3, 'python', 'c', 23]
[10, 20.3, 'Java', 'c', 23]

In [26]:
list1=[1,2,3,4,5]
list2=[5,4,3,2,1]
list3=[1,2,3,4,5]
if (list1==list2):
  print("list1 and list2 are equal")
else:
  print("list1 and list2 are not equal")

if (list1==list3):
  print("list1 and list3 are equal")
else:
  print("list1 and list3 are not equal")

list1 and list2 are not equal
list1 and list3 are equal

In [27]:
numbers=[1,6,344,22,17]
sorted_numbers=numbers.sort()
print(type(sorted_numbers))

<class 'NoneType'>

In [28]:
numbers=[1,6,344,22,17]
print(id(numbers))
sorted_numbers=numbers.sort()
print(type(sorted_numbers))
print(id(numbers))
print(numbers)
print(sorted_numbers)

133758230820544
<class 'NoneType'>
133758230820544
[1, 6, 17, 22, 344]
None